:root {
  --font-display: 'Fira Sans';
  --font-mono: 'Fira Sans';
  --font-rounded: 'Fira Sans';
  --font-serif: 'Fira Sans';
}

html,
body,
input,
textarea,
button,
select {
  font-family: 'Fira Sans';
}
